@{
}

<div class="modal fade" id="sessionExpiredModal" tabindex="-1" aria-labelledby="sessionExpiredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="sessionExpiredLabel">Session Expired</h5>
      </div>
      <div class="modal-body">
        Your session has expired. Please log in again.
      </div>
      <div class="modal-footer">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>


