@{
    // ViewData["Title"] = "Dashboard";
        // var username = Context.Session.GetString("name");
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <div>
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2" data-toggle="modal" data-target="#savingsModal">
            <i class="fas fa-edit text-white-50"></i> Edit Savings
        </button>
        <a href="@Url.Action("Index", "History")" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm mr-2">
            <i class="fas fa-history text-white-50"></i> View History
        </a>
        <a href="@Url.Action("Index", "Budget")" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-chart-pie text-white-50"></i> Budget Management
        </a>
    </div>
     <!-- <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#savingsModal">
        <i class="fas fa-edit text-white-50"></i> Edit Savings
    </button> -->
</div>

<!-- Earnings Cards Row -->
<div class="row">
    <partial name="_DashboardCards" />
</div>

<!-- Charts Row -->
<div class="row">
    <partial name="_DashboardCharts" />
</div>

<!-- Projects, Color System, Illustrations, Development Approach Row -->
<div class="row">
    <div class="col-lg-6 mb-4">
        <partial name="_DashboardProjects" />
        <partial name="_DashboardColorSystem" />
    </div>

    <div class="col-lg-6 mb-4">
        <partial name="_DashboardIllustrations" />
        <partial name="_DashboardApproach" />
    </div>
</div>

<script>
  // Debug: Check if modal exists and Bootstrap is loaded
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{2576139256081959}',
      cookie     : true,
      xfbml      : true,
      version    : '{v23.0.}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<!--